
.row {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.columnRight {
  flex: 50%;
  margin-left: 5px;
  border: solid;
  padding: 5px;
  overflow: auto;
}

.columnLeft {
  flex: 50%;
  border: solid;
  margin-right: 5px;
  padding: 5px;
  overflow: auto;
}

.task {
  outline: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}

.semester {
  border: solid;
  margin: 10px;
  padding: 20px;
}

.slot {
  padding: 5px;
  margin:10px;
  border: solid;
}

.main {
  margin: 10px;
}

.homeButton {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border: solid;
}

.header {
  text-align: center;
  border: solid;
  padding: 40px;
}

.navbar {
  text-align: left;
  border: solid;
  padding: 5px;
  margin-bottom: 5px;
}

.organizationView {
  border: solid;
  text-align: center;
  padding: 20px;
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}