
.row {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.columnRight {
  flex: 50%;
  margin-left: 5px;
  border: solid;
  padding: 5px;
  overflow: auto;
}

.columnLeft {
  flex: 50%;
  border: solid;
  margin-right: 5px;
  padding: 5px;
  overflow: auto;
}

.task {
  outline: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
}

.taskLeft{
  width: 75%;
}

.taskRight {
  text-align: right;
  width: 25%;
}

.semester {
  border: solid;
  margin: 10px;
  padding: 20px;
}

.slot {
  padding: 5px;
  margin:10px;
  border: solid;
}

.main {
  margin: 10px;
}

.homeButton {
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border: solid;
}

.header {
  text-align: center;
  border: solid;
  padding: 40px;
}

.navbar {
  text-align: left;
  border: solid;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
}

.organizationView {
  border: solid;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.orgTable {
  display: flex;
}

 /* Dropdown Button */
 .dropbtn {
    padding: 5px;
    margin:10px;
    border: solid;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    border: solid;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
